body {
  height: 100vh;
}



.not-found h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card {
  margin: 1em;
  height: auto;
  width: 300px;

  img {
    padding: .5em;
    height: 75px;
    width: auto;
    text-align: center;
  }



}